<div id="page_wrapper">
	<div id="profile_image">
		<%= link_to root_path do %>
			<%= image_tag "prof.jpg" %>
		<% end %>
	</div>

	<div id="content">
		<h1>Hello, I'm Zakhar Sydorenko</h1>
		<p>Welcome to my first blog written on Ruby on Rails.</p>
		<p>You're actually on the demo application right now. Cool stuff, right!</p>
		<p>If you'd like to give me some feedback, find me on Facebook <a href="https://www.facebook.com/zakhar.sydorenko">ZakharSydorenko</a>
			or contact with me via <a href="mailto:zakhar96@gmail.com">Email</a>.</p>
	</div>
</div>
